*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(0, 89, 6);
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: rgb(78, 107, 36);
    height: 50px;
    width: 100%;
}

#content{
    background-color: rgb(0, 89, 6);
}

#container{

}

.const{
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 20px
}

#const1{
    width: 200px;
    transform:  rotate(45deg);
    background-color: transparent;
    overflow: hidden;
}

#const2{
    height: 100px;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
}

#equal{
    align-items: center;
    display: inline-block;
    height: 100px;
}

.stick{
    width: 100px;
    height: 20px;
    margin: 20px;
    background-color: blue;
}

#circle{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 91, 80);
    border-radius: 50%;
    display: inline-block;
}

#ABC{
    width: 200px;
    height: 450px;
    text-align: center;
    background-color: blue;
    font-size: 50px;
    padding-top: 20px;
}