*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(0, 89, 6);
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: rgb(78, 107, 36);
    height: 50px;
    width: 100%;
    border: solid 5px black;
}

#content{
    background-color: rgb(0, 89, 6);
    justify-content: space-between;;
}

/* S-view for screen < 583 px*/
@media only screen and (max-width: 582.9px){
    #ABC{
        background-color: blue;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #const2{
        height: 100px;
    }
}

/* M-view for screen between 583 and 900 px*/
@media only screen and (min-width: 583px ) and (max-width: 900px) {
    #content {
            display: flex;
            flex-wrap: wrap;
    }
    #ABC{
        background-color: rgb(175, 0, 0);
        margin: 20px;
    }
    #const2{
        height: 100px;
    }
}

/* L-view for screen over 900 px */

@media only screen and (min-width: 900.1px) {
    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 65vw;
    }
    #content {
        display: flex;
        flex-wrap: wrap;
    }
    #ABC{
    background-color: white;
    margin: 20px;
    }
}



.const{
    width: 300px;
    height: 300px;
    align-items: center;
}

#const1{
    width: 250px;
    height: 250px;
    transform: translate(30px, 30px) rotate(45deg);
    background-color: transparent;
    overflow: hidden;
}

#const2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    border: solid 3px black;
}

#equal{
    align-items: center;
    display: inline-block;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.stick{
    width: 120px;
    height: 10px;
    background-color: blue;
    border: solid 3px black;
}

#circle{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 91, 80);
    border-radius: 50%;
    display: inline-block;
    border: solid 3px black;
}

#ABC{
    width: 200px;
    height: 350px;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    border: solid 3px black;
}